
body{
    background-color: rgb(247, 244, 240);
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px ;
}
.nav-title{
   font-weight: 800;
    font-size: 34px;
}
.sign{
    background-color:  #4E47FF;
    padding: 10px 20px;
    color: white;

    border: 1px solid white;
    border-radius: 10px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.cool{
    text-align: center;
}
.sign-focused{
 display: flex;
 justify-content: center;
}
header{
    background: url('./Assets/Hero-bg.png');
}
 .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
} 
.explore{
    color: #2e2d38;
    opacity: .5;
}
.joined{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
  background-color:#4d47ff17;
    margin:  0 150px;
    padding: 50px;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 100px;
  
}
.hcolor{
    color: blue;
    text-wrap: 30px;
}
.pclass{
    color: rgb(95, 94, 94);
}
.icon-star{ 
   display: flex;
    font-size: small; 
    margin: 0 150px;
    padding: 10px 20px;
    text-align: left;
    gap: 30px;
    justify-content: space-between;
}
.this{
    color: rgb(82, 81, 81);
}
.name{
    display: flex;
}
.what{
   text-align: center;
}
.reviewer{
    color: rgb(133, 133, 133);
}
.box{
    width: 100%;
    background-color: white;
  padding: 20px;

}
.ready{
    text-align: center;
  background-color: white;
    padding: 20px;
    margin: 0 150px;
}
.img{
    border: 1px solid white;
    border-radius: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 250px;
    gap: 30px;
}
.touch{
    font-size: 50px;
}
.submit{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.logo{
    color: blue;
    font-size: 50px;
    margin: 0;

}
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.color{
    color: rgb(105, 105, 105);
}